[Desktop Entry]
Type = Service
ServiceTypes = Krita/PythonPlugin
X-KDE-Library = camera_layer
X-Python-2-Compatible = false
X-Krita-Manual = readme.html
Name = Camera Layer
Comment = Experimental plugin
