[Desktop Entry]
Type = Service
ServiceTypes = Krita/PythonPlugin
X-KDE-Library = camera_layer
X-Python-2-Compatible = false
X-Krita-Manual = readme.md
Dependency = layer_meta_data
Name = Aki: Camera Layer
Comment = Experimental plugin
