[Desktop Entry]
Type = Service
ServiceTypes = Krita/PythonPlugin
X-KDE-Library = fetch_gallery
X-Python-2-Compatible = false
X-Krita-Manual = readme.md
Name = Aki: Fetch Krita gallery
Comment = Experimental plugin
