[Desktop Entry]
Type = Service
ServiceTypes = Krita/PythonPlugin
X-KDE-Library = layer_meta_data
X-Python-2-Compatible = false
X-Krita-Manual = readme.md
Name = Layer Meta Data
Comment = Experimental plugin
