[Desktop Entry]
Type = Service
ServiceTypes = Krita/PythonPlugin
X-KDE-Library = layer_extra_properties
X-Python-2-Compatible = false
X-Krita-Manual = readme.md
Name = Aki: Layer Extra Properties
Name[ca] = x
Name[ca@valencia] = x
Name[cs] = x
Name[de] = x
Name[en_GB] = Aki: Layer Extra Properties
Name[es] = x
Name[et] = x
Name[eu] = x
Name[fi] = x
Name[fr] = x
Name[gl] = x
Name[it] = x
Name[ko] = x
Name[nl] = x
Name[nn] = x
Name[pl] = x
Name[pt] = x
Name[pt_BR] = x
Name[sk] = x
Name[sv] = x
Name[tr] = x
Name[uk] = x
Name[x-test] = x
Name[zh_CN] = x
Name[zh_TW] = x
Comment = Experimental plugin
Comment[ca] = x
Comment[ca@valencia] = x
Comment[cs] = x
Comment[en_GB] = Experimental plugin
Comment[es] = x
Comment[et] = x
Comment[eu] = x
Comment[fi] = x
Comment[fr] = x
Comment[gl] = x
Comment[it] = x
Comment[ko] = x
Comment[nl] = x
Comment[nn] = x
Comment[pl] = x
Comment[pt] = x
Comment[pt_BR] = x
Comment[sv] = x
Comment[tr] = x
Comment[uk] = x
Comment[x-test] = x
Comment[zh_CN] = x
Comment[zh_TW] = x
